@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/arabic/DahabArabicITF-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/arabic/DahabArabicITF-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/arabic/DahabArabicITF-ExtraBold.otf') format('opentype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'DahabArabic';
  src: url('/fonts/arabic/DahabArabicITF-Black.otf') format('opentype');
  font-weight: 900; /* Black */
  font-style: normal;
}



a {
  color: inherit;
  text-decoration: none;
}
:root {
  --background: #ffffff; /* خلفية بيضاء */
  --foreground: #f5f5f5; /* لون النص أسود */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
}
@media (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Animation writing */
@keyframes blink {
  50% {
    opacity: 0; /* إخفاء المؤشر */
  }
}

.animate-blink {
  display: inline-block; /* تأكد من أن العنصر يتم عرض ككتلة */
  animation: blink 0.7s step-end infinite; /* إضافة تأثير وميض */
}
/* responsive container */

/* أو يمكنك استخدام أبعاد Tailwind CSS */
.container {
  padding: 0 1rem; /* تكافئ تقريبًا px-4 */
  max-width: 100%;
}

/* لتطبيق padding أكبر في الشاشات الأكبر */
@media (min-width: 640px) {
  .container {
    padding: 0 4rem; /* تكافئ تقريبًا px-16 */
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 7rem; /* تكافئ تقريبًا px-28 */
    max-width: 100%;
  }
}

.test-for-image img{
  max-height: 290px;
  /* object-fit: contain; */
  width: 200px;
}