.container {
  display: flex;
  direction: ltr;
}
.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
}
.content {
  flex: 4;
  padding: 20px;
}
.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.main {
  flex: 3;
  flex-direction: column;
  gap: 20px;
}
.Cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.side {
  flex: 1;
}
